
.vscode/settings.json
__pycache__/classes.cpython-310.pyc
__pycache__/Greedy.cpython-310.pyc
__pycache__/GT.cpython-310.pyc
__pycache__/Input.cpython-310.pyc
__pycache__/req_functions.cpython-310.pyc
